<div ui-view='header'></div>
<div class="main-container">

  <div class="content-container">
    <div ui-view></div>
    <div class="main-content">
      <div class="top-banner"></div>
      <div class="search-result-container full-width">
          <!--define the quick-search-->
         <div class="request-search">
          <ul class="request-search-content clearfix">
            <li>
              <select data-placeholder="Specialty" class="select-chosen" style="display: none;"></select>
              <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="">
                <a class="chosen-single chosen-default" tabindex="-1">
                  <span>Specialty</span>
                  <div><b></b></div>
                </a>
                <div class="chosen-drop">
                  <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
                  <ul class="chosen-results"></ul>
                </div>
              </div>
            </li>
            <li>
              <select data-placeholder="Provider Type" class="select-chosen" style="display: none;"></select>
              <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="">
                <a class="chosen-single chosen-default" tabindex="-1">
                  <span>Provider Type</span>
                  <div><b></b></div>
                </a>
                <div class="chosen-drop">
                  <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
                  <ul class="chosen-results"></ul>
                </div>
              </div>
            </li>
            <li>
              <select data-placeholder="Payment Type" class="select-chosen" style="display: none;"></select>
              <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="">
                <a class="chosen-single chosen-default" tabindex="-1">
                  <span>Payment Type</span>
                  <div><b></b></div>
                </a>
                <div class="chosen-drop">
                  <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
                  <ul class="chosen-results"></ul>
                </div>
              </div>
            </li>
            <li><input type="text" placeholder="Zipcode/State" class="form-control"></li>
            <li><input type="text" placeholder="Find by Name" class="form-control"></li>
          </ul>
        </div>
      </div>
    </div>
    <div ui-view='footer'></div>
  </div>
  <div ui-view='sidebar'></div>
</div>
