
.list-content {
  font-size: 1.3em;
}

.padding-l-r {
  padding-left: 3%;
  padding-right: 3%;
}

.padding-t-b-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padding-l-r-div {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.margin-l-r-div {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.margin-t-l-r-p {
  margin: 2em 2em 0 2em;
}

.logo-contact a:hover{
  background: none!important;
}





