
.list-content {
  font-size: 1.3em;
}

.padding-l-r {
  padding-left: 10em;
  padding-right: 10em;
}

.padding-t-b-section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padding-l-r-div {
  padding-left: 4em;
  padding-right: 4em;
}

.margin-l-r-div {
  margin-left: 4em;
  margin-right: 4em;
}

.margin-t-l-r-p {
  margin: 2em 2em 0 2em;
}
