---
layout: "default"
title: "Eco Example"
---
//- tags class
div.container
  //- block expansion and attributes
  a.example-class(href="#") Example
    img(alt="image")

  p This is example for docpad-lugin-jade
  ul: - for (var x = 0; x < 4; x ++)
    li item
  //- using conditionals
  - var user = { description: 'nhan doan'}
  #user
    if user.description
      h2 Description
      p.description= user.description
    else
      h1 Description
      p.description User no has description
