/* Style module */

$blue-darken        : #3f8ccd;
$breadscrumb-active : #e2e9ee;
$color-a-breadscrumb : #45759d;
$color-active        : #ffffff;

//for module layout content avatar img
.l-avatar-img { //for module
   height: 100%;
   padding-right:10px;
   border-right: 1px solid rgba(217, 217, 217, 0.82);
   background: #f9f9f9;

   .avatar-img {
      padding-top:25px;
      height: 100%;
      -webkit-box-shadow: inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      -moz-box-shadow:    inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      box-shadow:         inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      a {
        border-right: 1px solid #000;
        float: left;
        margin-left: 0px!important;

      }
      > div {
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        background: #434343;
        text-align: center;
        span.caret {
          border-top: 10px solid white;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }
   }
} // end module content avartar module img

// module breadcrumd layout
.l-breadcrumb{
  list-style:none;
  display: inline-block;
  padding-left: 0px!important;
  li{
    float:left;
    a{
      color:$color-a-breadscrumb;
      display:block;
      background: $breadscrumb-active;
      text-decoration: none;
      position:relative;
      height: 40px;
      line-height:40px;
      padding: 0 20px 0 20px;
      text-align: center;
      margin-right: 26px;
      font-weight: 500;
      font-size: 16px;
    }
    &:first-child{
      a{
        padding-left:15px;
        border-radius: 2px 0 0 2px;
        &:before{
          border:none;
         }
      }
    }
    &:last-child{
      a{
        padding-right:15px;
      }
    }

    a{
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $breadscrumb-active;
        border-width:20px 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color:$breadscrumb-active;
      }
      &:hover{
        background-color: $blue-darken;

        &:before{
          border-color:$blue-darken;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$blue-darken;
        }
      }
      &:active, &.active {
        background-color: $blue-darken;
        color: $color-active;

        &:before{
          border-color:$blue-darken;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$blue-darken;
        }
      }
    }
  }
}

// end module breadcrumd layout

// layout button for event time
@mixin button-first-child {
   border-right: none!important;
   background: rgb(202, 202, 202);
   background: -moz-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
   background: -webkit-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
   background: -o-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
   background: -ms-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
   background: linear-gradient(90deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
}
@mixin button-last-child {
   background: rgb(202, 202, 202);
   background: -moz-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
   background: -webkit-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
   background: -o-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
   background: -ms-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
   background: linear-gradient(270deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
}
// end botton time

// style for div progress
@mixin progress {     // for module
   height: 10px!important;
   width: 60%;
}
// end

//======= Button save and next

@mixin btn-next {
   background: rgb(37, 37, 37);
   background: -moz-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
   background: -webkit-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
   background: -o-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
   background: -ms-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
   background: linear-gradient(0deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
   color: white;
   text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
}
@mixin btn-save {
   background: rgb(234, 234, 234);
   background: -moz-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
   background: -webkit-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
   background: -o-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
   background: -ms-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
   background: linear-gradient(0deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
   text-shadow: 0px -1px 0px rgba(234, 234, 234, 0.5);
}

@mixin btn-add-book {
  background: rgb(0, 87, 204);
  background: -moz-linear-gradient(270deg, rgb(0, 87, 204) 90%, rgb(52, 159, 214) 100%);
  background: -webkit-linear-gradient(270deg, rgb(0, 87, 204) 90%, rgb(52, 159, 214) 100%);
  background: -o-linear-gradient(270deg, rgb(0, 87, 204) 90%, rgb(52, 159, 214) 100%);
  background: -ms-linear-gradient(270deg, rgb(0, 87, 204) 90%, rgb(52, 159, 214) 100%);
  background: linear-gradient(0deg, rgb(0, 87, 204) 90%, rgb(52, 159, 214) 100%);
  text-shadow: 2px -1px 1px rgba(0, 89, 153, 0.88);
  color: #f8fafd;
}
//======end style save and next

