$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import
  "bootstrap-sass-official/assets/stylesheets/bootstrap.scss",
  "theme/default",
  "module/proUI-plugins",
  "module/proUI",
  "base/base",
  "layout/layout",
  "state/state",
  "module/module",
  "theme/theme";

.nav, .pagination, .carousel, .panel-title a, a { cursor: pointer; }

.terms-switch .tooltip {
  width: 140px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}