<header class="main-header navbar navbar-default navbar-fixed-top">
   <div class="navbar-header logo-wrapper">
      <h1><a href="index.html" id="main-logo">etherapi</a></h1>
   </div>
   <form class="navbar-form navbar-left header-form">
      <div class="form-group search-client">
         <select data-placeholder="Search Patients" class="form-control select-chosen input-search" style="display: none;"></select>
         <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="">
            <a class="chosen-single chosen-default" tabindex="-1">
               <span>Search Patients</span>
               <div><b></b></div>
            </a>
            <div class="chosen-drop">
               <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
               <ul class="chosen-results"></ul>
            </div>
         </div>
      </div>
      <button class="btn add-client" type="submit"><i class="hi hi-plus"></i>  Add Patient</button>
   </form>
   <ul class="nav navbar-nav pull-right" ng-show='isLogin'>
      <li><a ui-sref="home"><i class="icon-house integr-icon"></i>Home</a></li>
      <li><a ui-sref="appointment"><i class="icon-calendar6 integr-icon"></i>Appointments</a></li>
      <li><a ui-sref="messages"><i class="icon-envelope4 integr-icon"></i>Messages</a></li>
      <li class="user-menu"><a ui-sref="profile">John Doe<i class="fa fa-bars fa-fw integr-rev-icon"></i></a></li>
   </ul>
   <ul class="public-nav nav navbar-nav pull-right nav-pills" ng-show="!isLogin" ng-controller="auth.signUpCtrl">
      <li>
         <a>Contact us</a>
      </li>
      <li>
         <a>For Therapists</a>
      </li>
      <li>
         <a>Search Therapists</a>
      </li>
      <li>
         <a ng-click="open('login')">Log in</a>
      </li>
      <li>
         <a ng-click="open('signUp')">Sign up</a>
      </li>
   </ul>
</header>
