<div ui-view='header'></div>
<div class="main-container">

  <div class="content-container">
    <div ui-view></div>
    <div class="main-content">
  <div class="top-banner"></div>
  <div class="public-profile-container container-fluid">
    <div class="row">
      <div class="personal-detail col-md-7">
        <!--define user-avatar-->
        <div class="avatar-container row no-gutter">
          <div class="user-avatar-section clearfix">
            <div class="user-avatar">
              <a class="img-rounded"><img src="http://placehold.it/220x220" alt="avatar"></a>
              <div class="hidden-box"></div>
            </div>
            <div class="avatar-action">
              <div class="user-name large-title"><a href="javascript:void(0)">Karen Chambre </a><span class="group-addon-lg"><i data-toggle="tooltip" data-placement="top" title="" class="icon-location" data-original-title="Pasadena, CA"></i></span></div>
              <div class="user-status">Marriage and Family Therapist</div>
            </div>
          </div>
        </div>
        <!--define user history-->
        <div class="history">
          <div class="large-title">About Karen Chambre</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, quod cumque vel maxime minus recusandae quam deserunt magni fugiat quasi deleniti similique rerum obcaecati aliquam incidunt sit itaque dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, quod cumque vel maxime minus recusandae quam deserunt magni fugiat quasi deleniti similique rerum obcaecati aliquam incidunt sit itaque dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, quod cumque vel maxime minus recusandae quam deserunt magni fugiat quasi deleniti similique rerum obcaecati aliquam incidunt sit itaque dignissimos.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, quod cumque vel maxime minus recusandae quam deserunt magni fugiat quasi deleniti similique rerum obcaecati aliquam incidunt sit itaque dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, quod cumque vel maxime minus recusandae quam deserunt magni fugiat quasi deleniti similique rerum obcaecati aliquam incidunt sit itaque dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, quod cumque vel maxime minus recusandae quam deserunt magni fugiat quasi deleniti similique rerum obcaecati aliquam incidunt sit itaque dignissimos.</p>
        </div>
        <div class="specialties detail-component-list block">
          <div class="block-title">
            <h2>Specialties</h2>
          </div>
          <form class="form-horizontal form-bordered">
            <div class="medium-title">Areas of Focus</div>
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa-check fa icon-arrow-right10"></i>Depression</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Anxiety</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Codependency</li>
                </ul>
              </div>
            </div>
            <div class="medium-title">Additional Expertise</div>
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Employment</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Dual Diagnosis</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>PTSD</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Family Conflict</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Panic Attacks</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Grief</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Women's Issues</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Oppositional Defiance</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Career Counseling</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Anxiety</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Chronic Pain</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Behavioral Issues</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="treatment-approach detail-component-list block">
          <div class="block-title">
            <h2>Treatment Approach</h2>
          </div>
          <form class="form-horizontal form-bordered">
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Cognitive Behavioral (CBT)</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Play Therapy</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Eclectic</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Psychodynamic</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Forensic Psychology</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Dialectical (DBT)</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Interpersonal</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Mindfulness-based</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="demographics-served detail-component-list block">
          <div class="block-title">
            <h2>Demographics Served</h2>
          </div>
          <form class="form-horizontal form-bordered">
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Adolescent</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Jewish</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Adult</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Buddhist</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Christian</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>African American</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Muslim</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Latino American</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="language-spoken detail-component-list block">
          <div class="block-title">
            <h2>Languages Spoken</h2>
          </div>
          <form class="form-horizontal form-bordered">
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>English</li>
                  <li class="col-md-6 col-xs-6 no-gutter"><i class="fa icon-arrow-right10"></i>Spanish</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="credentials detail-component-list block">
          <div class="block-title">
            <h2>Credentials</h2>
            <h2 class="check-sign pull-right"><i class="fa fa-check-circle"></i>Background Checked</h2>
          </div>
          <form class="form-horizontal form-bordered">
            <div class="medium-title">Years in Practice</div>
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa-check fa icon-arrow-right10"></i>32 years</li>
                </ul>
              </div>
            </div>
            <div class="medium-title">Licenses</div>
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item">
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>License Type 1 State - 4343564</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>License Type 2 State - 4348764</li>
                </ul>
              </div>
            </div>
            <div class="medium-title">Education</div>
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>CalSouthern University, Psy.D. - Psychology 2001</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Hunter College, B.S. - Nursing 1976</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Argosy, M.A. - Psychology 1983</li>
                </ul>
              </div>
            </div>
            <div class="medium-title">Additional Credentials</div>
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>California Association of Marriage Family Therapist</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>American Council of Hypnotist Examiners</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="relative-info col-md-3">
        <div class="video-container">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#show-video-modal" class="video-show"></a><iframe src="http://www.youtube.com/embed/_ETbH13kqL8" allowfullscreen="true" frameborder="0" width="100%" height="100%"></iframe>
          <div class="hidden-box"></div>
        </div>
        <form class="form-horizontal">
          <div class="tips-info">
            <div class="cash"><i class="fa fa-dollar"></i>120</div>
            <div class="time"><i data-toggle="tooltip" data-placement="top" title="" class="icon-clock3" data-original-title="Session Duration"></i>55 minutes</div>
            <div class="calendarium"><i class="icon-calendar6"></i>Sliding scale available</div>
          </div>
          <a type="button" data-toggle="modal" href="mailto" class="message-me-btn btn btn-success">Message Me</a><button type="button" data-toggle="modal" data-target="#appointment-booking-modal" class="btn btn-info">Request Appointment</button>
          <div class="tips-info">
            <div class="time-tips">Next available time</div>
            <div class="date-info">Mar 10, 2014 at 10am</div>
          </div>
        </form>
        <div class="insurance-plan detail-component-list block">
          <div class="block-title">
            <h2>Insurance Plans Accepted</h2>
          </div>
          <form class="form-horizontal form-bordered">
            <div class="form-group no-gutter">
              <div class="row no-gutter">
                <ul class="fa-ul list-li-push show-item col-md-12 no-gutter">
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Aetna (CA)</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Anthern Blue Cross California (Wellpoint)...</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Blue Shield of CA - Magellan/HAI-CA (CA)</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Coventry Health Care (CA)</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Magellan Behavioral Health/Human Affairs...</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>MHN Managed Health Network (CA)</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>MHNet (CA)</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>United Behavioral Health/Optum (CA)</li>
                  <li class="col-md-12 col-xs-12 no-gutter"><i class="fa icon-arrow-right10"></i>Value Options (CA)</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    <div ui-view='footer'></div>
  </div>
  <div ui-view='sidebar'></div>
</div>
