<div ui-view='header'></div>
<div class="main-container">

  <div class="content-container">
    <div ui-view></div>
    <div class="sub-header-wrap">
      <div class="notice themed-background-warning"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><span class="system-notify">Join upcoming session with<span class="user-name">John Patient</span></span><span class="action-notify">Action Submitted</span></div>
      <div class="sub-header-section"></div>
    </div>
    <div class="main-content">
      <div tabindex="-1" role="dialog" aria-hidden="true" class="general-modal modal fade" id="th-intake-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button data-dismiss="modal" aria-hidden="true" class="close">×</button>
              <modal-title>Practice Rules</modal-title>
            </div>
            <div class="modal-body">
              <p>Copy and paste your Practice Rules, Consent to Treatment and Notice of Privacy Practices below. Patients will be asked to agree at the time of their first appointment.</p>
              <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                  <div class="col-md-12"><textarea class="form-control intake-input"></textarea></div>
                </div>
                <div class="form-actions"><button type="submit" class="btn btn-info btn-large">Save</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="therapist-account">
        <!--sub header-->
        <div class="content-header">
          <div class="header-section">
            <h1>Account Settings<i class="icon-archive2"></i></h1>
          </div>
        </div>
        <div class="row">
          <div data-offset-top="200" data-spy="affix" class="aside-content affix-menu-nav col-md-3 affix-top">
            <div class="slave-nav">
              <ul class="list-group nav">
                <li class="active">
                  <a href="javascript:void(0)" class="list-group-item">
                    <h4 class="list-group-item-heading">Account Information</h4>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="list-group-item">
                    <h4 class="list-group-item-heading">Practice Details</h4>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="list-group-item">
                    <h4 class="list-group-item-heading">Intake Forms</h4>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="list-group-item">
                    <h4 class="list-group-item-heading">Change Password</h4>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pri-content col-md-9 account-content">
            <div class="block block-form">
              <div class="block-title">
                <h2>Account Information (required)</h2>
              </div>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-md-4">Provider First Name</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., Amanda" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-user7"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Provider Last Name</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., Robison" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-user7"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Email Address</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., arobinson@mail.com" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="fa fa-envelope"></i></span></div>
                  </div>
                </div>
                <div class="form-group form-action">
                  <div class="col-md-4 col-md-offset-4"><button type="submit" class="btn btn-info btn-large">Save Account Infomation</button></div>
                </div>
              </form>
            </div>
            <div class="block block-form">
              <div class="block-title">
                <h2>Practice Details (required)</h2>
              </div>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-md-4">Street Address</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., 123 Main St." class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">City</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., New York" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">State</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., NY" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                  </div>
                </div>
                <div class="form-group has-error">
                  <label class="control-label col-md-4">Zip Code</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="e.g., 10018" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Country</label>
                  <div class="col-md-5">
                    <select data-placeholder="Chosse a Country" class="form-control select-chosen input-md" style="display: none;">
                      <option value="10" selected="selected">USA</option>
                    </select>
                    <div class="chosen-container chosen-container-single" style="width: 100%;" title="">
                      <a class="chosen-single" tabindex="-1">
                        <span>USA</span>
                        <div><b></b></div>
                      </a>
                      <div class="chosen-drop">
                        <div class="chosen-search"><input type="text" autocomplete="off"></div>
                        <ul class="chosen-results"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Phone Number</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" placeholder="xxx-xxx-xxxx" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-phone3"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Timezone</label>
                  <div class="col-md-5">
                    <select data-placeholder="Chosse a Timezone" class="form-control select-chosen input-md" style="display: none;"></select>
                    <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="">
                      <a class="chosen-single chosen-default" tabindex="-1">
                        <span>Chosse a Timezone</span>
                        <div><b></b></div>
                      </a>
                      <div class="chosen-drop">
                        <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
                        <ul class="chosen-results"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group has-error">
                  <label class="control-label col-md-4">National Provider Identifier (NPI)</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="text" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-vcard2"></i></span></div>
                  </div>
                </div>
                <div class="form-group has-error">
                  <label class="control-label col-md-4">Social Security Number</label>
                  <div class="include-popover popover-group col-md-5">
                    <div class="input-group"><input type="text" id="masked_ssn" placeholder="xxx-xx-xxxx" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="icon-vcard2"></i></span></div>
                    <div class="popover right default-popover">
                      <div class="arrow"></div>
                      <div class="pop-over-content">Your social security number will be used only for taxpayer identification and payment processing.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group form-action">
                  <div class="col-md-4 col-md-offset-4"><button type="submit" class="btn btn-info btn-large">Save Practie Details</button></div>
                </div>
              </form>
            </div>
            <div class="block">
              <div class="block-title">
                <h2>Intake Forms</h2>
              </div>
              <div class="form-group"><span class="control-label standout-label">Practice Rules, Consent to Treatment, Notice of Privacy Practices</span><button class="btn btn-info btn-large" data-toggle="modal" data-target="#th-intake-modal">View/Edit</button></div>
            </div>
            <div class="block block-form">
              <div class="block-title">
                <h2>Change Password</h2>
              </div>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-md-4">New Password</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="password" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="fa fa-asterisk"></i></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Confirm New Password</label>
                  <div class="col-md-5">
                    <div class="input-group"><input type="password" class="form-control input-md"><span class="input-group-addon group-addon-lg"><i class="fa fa-asterisk"></i></span></div>
                  </div>
                </div>
                <div class="form-group form-action">
                  <div class="col-md-4 col-md-offset-4"><button type="submit" class="btn btn-info btn-large">Save Password</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ui-view='footer'></div>
  </div>
  <div ui-view='sidebar'></div>
</div>
