header.main-header.navbar.navbar-default.navbar-fixed-top
  .navbar-header.logo-wrapper
    h1
      a#main-logo href="index.html"  etherapi
  form.navbar-form.navbar-left.header-form
    .form-group.search-client
      select.form-control.select-chosen.input-search data-placeholder=("Search Patients") style=("display: none;")
      .chosen-container.chosen-container-single.chosen-container-single-nosearch style=("width: 100%;") title=""
        a.chosen-single.chosen-default tabindex="-1"
          span Search Patients
          div
            b
        .chosen-drop
          .chosen-search
            input autocomplete="off" readonly="" type="text" /
          ul.chosen-results
    button.btn.add-client type="submit"
      i.hi.hi-plus
      | Add Patient
  ul.nav.navbar-nav.pull-right
    li
      a ui-sref="home"
        i.icon-house.integr-icon
        | Home
    li
      a ui-sref="appointment"
        i.icon-calendar6.integr-icon
        | Appointments
    li
      a ui-sref="messages"
        i.icon-envelope4.integr-icon
        | Messages
    li.user-menu
      a ui-sref="profile"
        | John Doe
        i.fa.fa-bars.fa-fw.integr-rev-icon
