<div ui-view='header'></div>
<div class="main-container">
  <div ng-controller="getOption">
      <button ng-click="addPhone()">Add a phone via POST</button><br />
        Watch the console for errors.
      <ul>
        <li ng-repeat="phone in phones">{{phone.name}} <a>{{phone.data}}</a></li>
      </ul>
  </div>
  <div class="content-container">
    <div ui-view></div>
    <div class="main-content">
      <div class="patient-profile" ng-controller="patientProfileCtrl">
        <!--degine the content-header of the patient-profile page-->
        <div class="content-header">
          <div class="header-section subtitle">
            <h1>Profile<i class="icon-user8"></i></h1>
            <small>The information on this page will be visible only to your therapist of choice.</small>
          </div>
        </div>
        <!--define the content of patient-profile page-->
        <div class="row no-gutter">
          <div class="edit-profile-nav slave-nav no-gutter aside-content col-md-3">
            <!--define the list-group-->
            <ul class="list-group nav">
              <li >
                <a href="#section-1" du-smooth-scroll du-scrollspy offset="30" class="list-group-item">
                  <h4 class="list-group-item-heading">Profile Picture and Video</h4>
                </a>
              </li>
              <li>
                <a href="#section-2" du-smooth-scroll du-scrollspy offset="30"  class="list-group-item">
                  <h4 class="list-group-item-heading">Contact Information</h4>
                </a>
              </li>
              <li>
                <a href="#section-3" du-smooth-scroll du-scrollspy class="list-group-item">
                  <h4 class="list-group-item-heading">Insurance</h4>
                </a>
              </li>
              <li>
                <a href="#section-4" du-smooth-scroll du-scrollspyclass="list-group-item">
                  <h4 class="list-group-item-heading">Medical History</h4>
                </a>
              </li>
            </ul>
          </div>
          <div class="pri-content edit-profile-content listview-content col-md-9">
            <!--From update profile -->
            <form class="form-horizontal form-bordered form-control-borderless" ng-submit="" novalidate name="updateProfile">
              <div class="profile-button-group"><button type="submit" class="btn btn-info" ng-click="doSaveProfile()" ng-disabled="updateProfile.$invalid">Save Profile</button></div>
              <div class="edit-profile-detail">
                <!--define the picture-video block-->
                <div id="section-1"class="picture-video block col-md-12">
                  <div class="block-title">
                    <h2>Profile Picture and Video</h2>
                  </div>
                  <!-- <form method="post" class="form-bordered"> -->
                    <div class="avatar-container row no-gutter">
                      <div class="col-md-6 no-gutter">
                        <div class="user-avatar-section clearfix">
                          <div class="user-avatar"><a href="javascript:void(0)" class="img-rounded"><img src="http://placehold.it/120x120" alt="avatar"></a></div>
                          <div class="avatar-action">
                            <div class="user-avatar-upload"><a ng-click="uploadPicture()" type="button" class="btn btn-info">Upload New Picture</a></div>
                            <div class="user-avatar-delete"><a href="javascript:void(0)" class="text-danger" ng-click="deletePicture()">Delete picture</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="section-2" class="contact-information block col-md-12">
                  <div class="block-title">
                    <h2>Contact Information</h2>
                  </div>

                  <!-- <form class="form-horizontal"> -->
                  <div class="form-group" ng-class="{ 'has-error' : updateProfile.firstName.$invalid && !updateProfile.firstName.$pristine }">
                    <label class="control-label col-md-4">First Name</label>
                    <div class="col-md-5">
                      <div class="input-group">
                        <input name="firstName" type="text" placeholder="e.g., Amanda" class="form-control input-md" ng-model="name.firstName" ng-minlength="3" ng-maxlength="8" required>
                        <span class="input-group-addon group-addon-lg">
                          <i class="icon-user7"></i>
                        </span>
                      </div>
                      <p ng-show="updateProfile.firstName.$error.minlength" class="help-block">Username is too short.</p>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': updateProfile.lastName.$invalid && !updateProfile.lastName.$pristine}">
                      <label class="control-label col-md-4">Last Name</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input name="lastName" type="text" placeholder="e.g., Robison" class="form-control input-md" ng-model="name.lastName" ng-minlength="3">
                          <span class="input-group-addon group-addon-lg"><i class="icon-user7"></i></span>
                        </div>
                        <p ng-show="updateProfile.lastName.$error.minlength" class="help-block">Username is too short.</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">I am</label>
                      <div class="col-md-5">
                        <select ui-select2 ng-model="insurance.gender" data-placeholder="Male" style="width: 100%;">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">Date of Birth</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="text" datepicker-popup="MM/dd/yyyy" placeholder="mm/dd/yyyy" ng-model="user.birthdate" is-open="opened" datepicker-options="dateOptions" ng-click="open($event)" show-button-bar="false" class="form-control input-md input-datepicker" datepicker-append-to-body="true">
                          <span class="input-group-addon group-addon-lg"><i class="icon-vcard2"></i></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : updateProfile.email.$invalid && !updateProfile.email.$pristine}">
                      <label class="control-label col-md-4">Email Address</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="email" name="email" placeholder="e.g., arobinson@mail.com" class="form-control input-md" ng-model="user.email">
                          <span class="input-group-addon group-addon-lg"><i class="icon-envelope4"></i></span>
                        </div>
                        <p ng-show="updateProfile.email.$error.email" class="help-block">Please enter a valid email address!</p>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : updateProfile.phone.$invalid && !updateProfile.phone.$pristine}">
                      <label class="control-label col-md-4">Phone Number</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="text" name="phone" placeholder="xxx-xxx-xxxx" class="form-control input-md" ng-pattern='/^[0-9]{1,10}$/' ng-model="user.phone" required>
                          <span class="input-group-addon group-addon-lg"><i class="icon-phone7"></i></span>
                        </div>
                        <p ng-show="updateProfile.phone.$error.pattern" class="help-block">Not a valid number!</p>
                        <p ng-show="updateProfile.phone.$error.required" class="help-block">Input must be required!</p>

                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">Street Address</label>
                      <div class="col-md-5">
                        <div class="input-group"><input type="text" placeholder="e.g., 123 Main St. " class="form-control input-md" ng-model="updateProfile.address"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">City</label>
                      <div class="col-md-5">
                        <div class="input-group"><input type="text" placeholder="e.g., New York " class="form-control input-md" ng-model="updateProfile.city"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">State</label>
                      <div class="col-md-5">
                        <div class="input-group"><input type="text" placeholder="e.g., NY " class="form-control input-md" ng-model="updateProfile.state"><span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span></div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : updateProfile.zipcode.$invalid && !updateProfile.zipcode.$pristine}">
                      <label class="control-label col-md-4">Zip Code</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="text" name="zipcode" placeholder="e.g., 10018 " class="form-control input-md" ng-model="user.zipcode" ng-pattern="/^[0-9]{1,5}$/" ng-maxlength="5">
                          <span class="input-group-addon group-addon-lg"><i class="icon-pin"></i></span>
                        </div>
                        <p ng-show="updateProfile.zipcode.$error.pattern || updateProfile.zipcode.$error.maxlength " class="help-block">ZipCode invalid!</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">Country</label>
                      <div class="col-md-5">
                        <select ui-select2 ng-model="insurance.country" data-placeholder="USA" class="select-chosen" style="width: 100%;">
                          <option value=""></option>
                          <option value="USA">USA</option>
                          <option value="Australia">Australia</option>
                          <option value="Australia">India</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-4">Timezone</label>
                      <div class="col-md-5">
                        <select ui-select2 ng-model="insurance.timezone" data-placeholder="Choose a Timezone" class="select-chosen" style="width: 100%;">
                          <option selected="selected"></option>
                          <option value="USA">USA</option>
                          <option value="Australia">Australia</option>
                          <option value="Australia">India</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': updateProfile.fullName.$invalid && !updateProfile.fullName.$pristine}">
                      <label class="control-label col-md-4">Emergency Contact Full Name</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="text" name="fullName" placeholder="e.g., Alan Rotlif" class="form-control input-md" ng-model="user.fullName" ng-minlength="3">
                          <span class="input-group-addon group-addon-lg"><i class="icon-user7"></i></span>
                        </div>
                        <p ng-show="updateProfile.fullName.$error.minlength" class="help-block">Fullname is too short</p>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': updateProfile.contactPhone.$invalid && !updateProfile.contactPhone.$pristine}">
                      <label class="control-label col-md-4">Emergency Contact Phone Number</label>
                      <div class="col-md-5">
                        <div class="input-group">
                          <input type="text" name="contactPhone" placeholder="xxx-xxx-xxxx" class="form-control input-md" ng-model="user.contactPhone" ng-pattern='/^[0-9]{1,10}$/'>
                          <span class="input-group-addon group-addon-lg"><i class="icon-phone7"></i></span>
                        </div>
                        <p ng-show="updateProfile.contactPhone.$error.pattern" class="help-block">Not is a valid number phone</p>
                      </div>
                    </div>
                  <!-- </form> -->
                </div>
                <div id="section-3" class="insurance-status block col-md-12 clearfix">
                  <div class="block-title">
                    <h2>Insurance</h2>
                  </div>
                  <form class="form-horizontal">
                    <div class="total-block-data">
                      <!--define the header columns of table-->
                      <header class="header-striped-row col-md-12 no-gutter">
                        <div class="general-column col-md-2 col-xs-2">
                          <div class="cell-wrapper">
                            <div class="cell"><span>Status</span></div>
                          </div>
                        </div>
                        <div class="general-column col-md-3 col-xs-3">
                          <div class="cell-wrapper">
                            <div class="cell"><span>Insurance Name</span></div>
                          </div>
                        </div>
                        <div class="general-column col-md-2 col-xs-2">
                          <div class="cell-wrapper">
                            <div class="cell"><span>Insurance ID</span></div>
                          </div>
                        </div>
                        <div class="general-column col-md-2 col-xs-2">
                          <div class="cell-wrapper">
                            <div class="cell"><span>Plan Name</span></div>
                          </div>
                        </div>
                        <div class="general-column">
                          <div class="cell-wrapper">
                            <div class="cell"></div>
                          </div>
                        </div>
                      </header>
                      <!--data content-->
                      <div class="data-group">
                        <!--data row-->
                        <div class="striped-row col-md-12 no-gutter">
                          <!--the data of state header-->
                          <div class="general-column col-md-2 col-xs-2">
                            <div class="cell-wrapper">
                              <div class="cell"><span class="text-success">Verified</span></div>
                            </div>
                          </div>
                          <!--the data of License Type header-->
                          <div class="general-column col-md-3 col-xs-3">
                            <div class="cell-wrapper">
                              <div class="cell"><span>Bluecross</span></div>
                            </div>
                          </div>
                          <!--the data of License header-->
                          <div class="general-column col-md-2 col-xs-2">
                            <div class="cell-wrapper">
                              <div class="cell"><span>xxx-xxx-4343</span></div>
                            </div>
                          </div>
                          <!--the data of expiration header-->
                          <div class="general-column col-md-2 col-xs-2">
                            <div class="cell-wrapper">
                              <div class="cell"><span>PPO 20</span></div>
                            </div>
                          </div>
                          <!--the end of row-->
                          <div class="general-column">
                            <div class="cell-wrapper">
                              <div class="cell"><a href="javascript:void(0)" class="text-danger">Delete</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a ng-click="addInsurance()" class="add-more">+ Add Insurance Plan Information</a>
                    </div>
                  </form>
                </div>
                <div id ="section-4" class="medical-history block col-md-12">
                  <div class="block-title">
                    <h2>Relevant Medical History (Optional)</h2>
                  </div>
                  <form>
                    <div class="form-group patient-problem include-popover">
                      <textarea cols="30" rows="8" class="form-control" placeholder="Enter here your medical history."></textarea>
                      <div class="popover left">
                        <div class="arrow"></div>
                        <div class="pop-over-content">Please enter here previous diagnoses, reasons for seeking therapy, current medications and any other historical information that might be useful for your therapist. Also, let your therapist know if you are receiving other forms of mental health care.</div>
                      </div>
                    </div>
                    <div class="form-group form-actions"><button type="button" class="btn btn-info">Save Profile</button></div>
                  </form>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div ui-view='footer'></div>
  </div>
  <div ui-view='sidebar'></div>
</div>
