aside.main-sidebar-user
  .sidebar-section.sidebar-user.clearfix
    .sidebar-user-avatar.themed-background-snow
      a href="#"
        img alt=("user avatar") src="http://placehold.it/65x65" /
    .sidebar-username Example
    .edit-profile.text-primary
      a ui-sref="therapist-edit-profile"  Edit Profile
  ul.sidebar-nav
    li
      a.active ui-sref="home"
        i.icon-house.integr-icon
        | Home
    li
      a.sidebar-nav-menu ui-sref="appointment"
        i.fa.fa-angle-left.sidebar-nav-indicator
        = succeed "Appointments" do
          i.icon-calendar6.integr-icon
      ul
        li
          a href="javascript:void(0);"  Upcoming
        li
          a href="javascript:void(0);"  Requests
        li
          a href="javascript:void(0);"  Past or Canceled
    li
      a href="#"
        i.icon-envelope4.integr-icon
        | Messages
    li
      a href="#"
        i.icon-users4.integr-icon
        | Patients
    li
      a href="#"
        i.icon-alarm3.integr-icon
        | Your Availability
    li
      a href="#"
        i.icon-creditcard.integr-icon
        | Billing
    li
      a.sidebar-nav-menu ui-sref="profile"
        i.fa.fa-angle-left.sidebar-nav-indicator
        = succeed "Profile" do
          i.icon-user8.integr-icon
      ul
        li
          a href="javascript:void(0);"  Profile Picture and Video
        li
          a href="javascript:void(0);"  About
        li
          a href="javascript:void(0);"  Finances
        li
          a href="javascript:void(0);"  Specialties and Expertise
        li
          a href="javascript:void(0);"  Credentials
    li
      a.sidebar-nav-menu ui-sref="therapist-account"
        i.fa.fa-angle-left.sidebar-nav-indicator
        = succeed "Account" do
          i.icon-archive2.integr-icon
      ul
        li
          a href="javascript:void(0);"  Account Information
        li
          a href="javascript:void(0);"  Practice Details
        li
          a href="javascript:void(0);"  Intake Forms
        li
          a href="javascript:void(0);"  Change Password
    li
      a href="#"
        i.icon-wand.integr-icon
        | Technical Support
    li
      a href="#"
        i.icon-dashboard2.integr-icon
        | Test your System
    li
      a href="#"
        i.icon-in-alt.integr-icon
        | Log Out
