<aside class="main-sidebar-user">
   <div class="sidebar-section sidebar-user clearfix">
      <div class="sidebar-user-avatar themed-background-snow"><a href="#"><img src="http://placehold.it/65x65" alt="user avatar"></a></div>
      <div class="sidebar-username">Example</div>
      <div class="edit-profile text-primary"><a ui-sref="therapist-edit-profile">Edit Profile</a></div>
   </div>
   <ul class="sidebar-nav">
      <li><a class="active" ui-sref="home"><i class="icon-house integr-icon"></i>Home</a></li>
      <li>
         <a ui-sref="appointment" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="icon-calendar6 integr-icon"></i>Appointments</a>
         <ul>
            <li><a href="javascript:void(0);">Upcoming</a></li>
            <li><a href="javascript:void(0);">Requests</a></li>
            <li><a href="javascript:void(0);">Past or Canceled</a></li>
         </ul>
      </li>
      <li><a href="#"><i class="icon-envelope4 integr-icon"></i>Messages</a></li>
      <li><a href="#"><i class="icon-users4 integr-icon"></i>Patients</a></li>
      <li><a href="#"><i class="icon-alarm3 integr-icon"></i>Your Availability</a></li>
      <li><a href="#"><i class="icon-creditcard integr-icon"></i>Billing</a></li>
      <li>
         <a ui-sref="profile" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="icon-user8 integr-icon"></i>Profile</a>
         <ul>
            <li><a href="javascript:void(0);">Profile Picture and Video</a></li>
            <li><a href="javascript:void(0);">About</a></li>
            <li><a href="javascript:void(0);">Finances</a></li>
            <li><a href="javascript:void(0);">Specialties and Expertise</a></li>
            <li><a href="javascript:void(0);">Credentials</a></li>
         </ul>
      </li>
      <li>
         <a ui-sref="therapist-account" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="icon-archive2 integr-icon"></i>Account</a>
         <ul>
            <li><a href="javascript:void(0);">Account Information</a></li>
            <li><a href="javascript:void(0);">Practice Details</a></li>
            <li><a href="javascript:void(0);">Intake Forms</a></li>
            <li><a href="javascript:void(0);">Change Password</a></li>
         </ul>
      </li>
      <li><a href="#"><i class="icon-wand integr-icon"></i>Technical Support</a></li>
      <li><a href="#"><i class="icon-dashboard2 integr-icon"></i>Test your System</a></li>
      <li><a href="#"><i class="icon-in-alt integr-icon"></i>Log Out</a></li>
   </ul>
</aside>
