
@import "../modules/module";
@import  "../files/vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import  "../files/vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";
/* Style header of loyout default*/
#main-header {
  /* Style for div container header */
  > div.l-container {
    margin: 1% 2%;
    // margin-bottom: 5px;
  }

  /* Style for navigation default */
  .l-navigation {
    box-shadow: 2px 2px 5px #9b9b9b;
    ul > li {
      padding: 3px 5px;
    }

    ul > li.active {
      background: #0f60a2;
    }
    ul > li > a {
      font-size: 16px; //for base
      font-weight: $badge-font-weight; //for base
    }

    ul > li.l-nav-app {
      padding-left: 15px;
      > a {
        padding-left: 25px;
        background: url('images/fb-small.png') 0 7px no-repeat;
      }
    }
  }
}

/* ***********************************
* Style layout for app editor page
*************************************/
#appEditor {
  height: 1000px;

  .btn-save, .btn-next {
    padding: 8px 30px;
    font-size: 16px;
  }

  .btn-save {
    @include btn-save;
  }

  .btn-next {
    @include btn-next;
  }
  .l-content-book {
    padding-top: 2%;

    h5 {
      font-weight: $badge-font-weight; // for base
    }

    .l-order-table {
      width: 10%;
      float: left;
      text-align: center;
    }

    .l-title-table {
      width: 45%;
      float: left;
    }

    .l-status-table {
      width: 30%;
      float: left;
      span {
        padding: 0!important;
        line-height: 10px!important;
      }
    }

    .l-actions-table {
      width: 14%;
      float: left;

      a {
        margin-top: 3%;
        padding: 8px;
      }
    }
    .table-cell {
      span {
        padding: 6px 10px;
        line-height: 20%;
        text-align: center;
        vertical-align: bottom;
      }

      a {
        line-height: 20%;
        vertical-align: bottom;
      }

      img {
        float: right;
        margin-right: 20%;
      }
    }
    .table-book {
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      .l-row-header-table {
        display: inline-block;
        width: 100%;
      }
    }
    .table-row-group {
      padding-top: 1%;
      padding-bottom: 6%;
      .progress {     // for module
        @include progress;
        margin-bottom: 1%;
        margin-top: 2%;
      }

    }
    .footer-row-book {
      margin-right: 3%;
      margin-left: 3%;

    }
    .content-footer-row {
      >div.col-md-4 {
        text-align: right;
      }

      .btn-test {
        @include btn-save;
      }
    }
  }
}
/*******************************************
 * Style for page bookManage
 *******************************************/

#bookManager {

  height: 1000px;
  .l-content-book {
    padding-left: 5px;
    .content-book{
    padding-left: 10px;
    padding-top: 25px;
      > div {
        margin-top:25px;
      }
    }
  }
  .l-library-book {
    .btn-add-book {
      @include btn-add-book;
    }
    padding-left: 3%;
    h3 {
      font-size: 22px;  //for basic
      font-weight: $badge-font-weight; //for basic
    }
  }

  .l-list-book {
    a {background: #f5f3f3; padding: 3px 6px;}
    p {margin-top: 10px;}
    .progress {
      @include progress;
      margin: 4% 20% 0 20%;
    }
  }
 }


/* **********************************
 *  Style for page dashboard
 ************************************/

 #dashboard {
  margin-left: 2%;

  .l-activity-content {

    // style for tag section
    > section {
      border-radius: 5px;
      margin-top: 15px;
    }

    ul {
      margin: 0 0;
      padding-left: 15px;
      overflow-y: scroll;
      overflow-x: hidden;

      > li {
        margin-top: 0px;

        &:first-child {
          padding-top: 10px;

        }

        &:last-child {
          padding-bottom: 10px;
        }

        > hr {
          border-color: #cecece; //for theme
          margin-bottom: 10px;
        }
      }
    }
  }

  .l-author-info {
    text-align: center;
    > ul {
      padding-left: 12px;
      padding-right: 12px;
      list-style-type: none;
      text-align: left;
    }
  }
 }

/* *****************************
* Style
********************************/

#appEditor {

  .l-content-event {
    form {
      h4 {
        font-size: 16px; // for basic
        font-weight: $badge-font-weight; // for basic
      }
      label {
        font-size: 13px; // nt
        font-weight: normal; // nt
      }
    }
    .inputAuthor {
      p {
        font-size: 11px!important; // nt
      }
    }
    padding-top: 25px; // for theme or module all for in theme
    .event-youtube { // for  theme
      > input {
        width: 90%;
        margin: 10px 0;
      }
    }
    .event {
      input {
        &#eventTitle {
          width: 95%;
        }
        &#eventCity, &#eventEndDate  {
          width: 90%;

        }
      }
      .event-time { // for moudle button
        button {
          border: 1px solid #c5c5c5;
          .btn {
            border-radius: 7px!important;
          }

          &:first-child {
            @include button-first-child;
          }
          &:last-child {
            @include button-last-child;
          }
        }
      }
    }

  }
}

