- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")
    title= site.title
    meta(name="description", content= site.description)
    meta(name="keywords", content= site.keywords)

    //- Output docpad produced
    != getBlock('meta').toHTML()

    //- Styles
    != styles.add(site.styles).toHTML()
  body.container-fixed
    header#main-header.clearfix.main-header
      div.container
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.logo-agility(href="#")
            img(alt="logo agility", class="image-logo" src="images/logo-agility.png")
        nav.l-nav-main-header.container
          ul.nav.navbar-nav.l-nav-content
            li
              a(href="#") work
            li
              a(href="#") startups
            li
              a.active(href="#") brands
            li
              a(href="#") about
            li
              a(href="#") blog
            li
              a(href="#") start your agility experience
                span.caret.ceret-header

    article#content
      != content

    != scripts.add(site.scripts).toHTML()
