div ui-view="header"
.main-container
  .content-container
  p
    | {{name}}
    div ui-view=""
    .main-content ng-controller="SampleController"
      p
      | ng-model='{{name}}'
      .top-banner
      .search-result-container.full-width
        /! define the quick-search
        .request-search
          ul.request-search-content.clearfix
            li
              select.select-chosen data-placeholder="Specialty" style=("display: none;")
              .chosen-container.chosen-container-single.chosen-container-single-nosearch style=("width: 100%;") title=""
                a.chosen-single.chosen-default tabindex="-1"
                  span Specialty
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input autocomplete="off" readonly="" type="text" /
                  ul.chosen-results
            li
              select.select-chosen data-placeholder=("Provider Type") style=("display: none;")
              .chosen-container.chosen-container-single.chosen-container-single-nosearch style=("width: 100%;") title=""
                a.chosen-single.chosen-default tabindex="-1"
                  span Provider Type
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input autocomplete="off" readonly="" type="text" /
                  ul.chosen-results
            li
              select.select-chosen data-placeholder=("Payment Type") style=("display: none;")
              .chosen-container.chosen-container-single.chosen-container-single-nosearch style=("width: 100%;") title=""
                a.chosen-single.chosen-default tabindex="-1"
                  span Payment Type
                  div
                    b
                .chosen-drop
                  .chosen-search
                    input autocomplete="off" readonly="" type="text" /
                  ul.chosen-results
            li
              input.form-control placeholder="Zipcode/State" type="text" /
            li
              input.form-control placeholder=("Find by Name") type="text" /
    div ui-view="footer"
  div ui-view="sidebar"
