
/* Style header of loyout default*/
#main-header {
  /* Style for div container header */
  > div.l-container {
    margin-bottom: 5px;
  }

  /* Style for navigation default */
  .l-navigation {
    box-shadow: 2px 2px 5px #9b9b9b;
    ul > li {
      padding: 3px 5px;
    }

    ul > li.active {
      background: #0f60a2;
    }
    ul > li > a {
      color: #f5f5f5;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 1px 1px #276496;
    }

    ul > li.l-nav-app {
      padding-left: 15px;
      > a {
        padding-left: 25px;
        background: url('images/fb-small.png') 0 7px no-repeat;
      }

    }
  }
}

/* ***********************************
* Style layout for app editor page
*************************************/
#appEditor {
  height: 1000px;
  // .l-content-book {
  //   height: 100%;
  //   -webkit-box-shadow: -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
  //   -moz-box-shadow:    -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
  //   box-shadow:         -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
  //   padding-left: 5px;
  //   .content-book{
  //   height: 100%;
  //   border-left: 1px solid rgba(217, 217, 217, 0.82);
  //   padding-left: 10px;
  //   padding-top: 25px;
  //     > div {
  //       margin-top:25px;
  //     }
  //   }

  // }
  .l-avatar-img {
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.82);
    background: #f9f9f9;
    padding-right:10px;

    .avatar-img {
      padding-top:25px;
      height: 100%;
      -webkit-box-shadow: inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      -moz-box-shadow:    inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      box-shadow:         inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      a {
        border-right: 1px solid #000;
        float: left;
        margin-left: 0px!important;

      }
      > div {
        min-height: 128px;
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        background: #434343;
        text-align: center;
        span.caret {
          border-top: 10px solid white;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }

    }
  // }
}

  /* Layout navigation breadcrum */
  .l-breadcrumd {
    margin-bottom: 20px;
    padding: 0 0!important;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;

    li {
      float: left;

      &:first-child a {
        padding-left: 10px;
      }
      a {
        color: #45759d;
        text-decoration: none;
        padding: 10px 0 10px 65px;
        background: brown;                   /* fallback color */
        background: hsla(205,5%,92,1);
        position: relative;
        display: block;
        float: left;

        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 30px solid hsla(205,5%,92,1);
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2;
        }

        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 5px;
          left: 100%;
          z-index: 1;
        }

        &:hover {
          background: hsla(207,69%,56,1);
          color: white;
          &:after { border-left-color: hsla(207,69%,56,1) !important;color: white }
        }
        &.active{
          background: hsla(207,69%,56,1);
          color: white;

          &:after{
            border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid hsla(207,69%,56,1);
          }}

        }
      }
    }
  }

// .breadcrumb
// // .breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
// // .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
// // .breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
// // .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
// // .breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
// // .breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
// // .breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
// // .breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
// .breadcrumb li:last-child a {
//   background: transparent !important;
//   color: black;
//   pointer-events: none;
//   cursor: default;
// }

/* Lay out table content info edit book Application */
 .l-table-info-book
  {
      width:100%;
      display: table;
  }

  .table-header
  {
      display: table-header-group;
      font-weight: bold;
      text-transform:uppercase;
  }

  .content-table
  {
      width:100%;
      display: table-row;
  }
  .content-table-row {
    width:99%;
  }
  .l-cell-table
  {
      display: table-cell;
      border: solid;
      border-width: thin;
      padding-left: 5px;
      padding-right: 5px;
  }

  // .table-header, .content-table-column {
  //   .l-order-table{
  //     width: 10%;
  //   }
  //   .l-title-table {
  //     width:45%;
  //   }

  //   .l-status-table {
  //     width: 35%;
  //   }

  //   .l-actions-table {
  //     width: 10%;
  //   }
  // }


/*******************************************
 * Style for page bookManage
 *******************************************/

 #bookManager {
  height: 1000px;
  .l-content-book {
    padding-left: 5px;
    .content-book{
    padding-left: 10px;
    padding-top: 25px;
      > div {
        margin-top:25px;
      }
    }

  }
  .l-library-book {
    button.btn-primary {
      background: #0082cc;
      text-shadow:  -1px 0px 0px rgba(0, 91, 161, 0.55);
    }
    padding-left: 3%;
    h3 {
      font-size: 22px;
      font-weight: bold;
    }
    h5 {
      border-bottom: 1px dashed #b8b8b8;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }
  .l-avatar-img {
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.82);
    background: #f9f9f9;
    padding-right:10px;

    .avatar-img {
      padding-top:25px;
      height: 100%;
      -webkit-box-shadow: inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      -moz-box-shadow:    inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      box-shadow:         inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      a {
        border-right: 1px solid #000;
        float: left;
        margin-left: 0px!important;

      }
      > div {
        min-height: 128px;
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        background: #434343;
        text-align: center;
        span.caret {
          border-top: 10px solid white;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }

    }
  }
  .l-list-book {
    a {background: #f5f3f3; padding: 3px 6px;}
    p {margin-top: 10px;}
    > div.thumbnail {
      width: 20%;
      float: left;
      border: none!important;
      text-align: center;
      .progress {
        height: 10px;
        margin: 4% 20% 0 20%;
      }
      span {
        font-size: 11px;
        color: #666666;
      }
    }
  }
 }


/* **********************************
 *  Style for page dashboard
 ************************************/

 #dashboard {

  ::-webkit-scrollbar {
          width: 5px;
      }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .l-container {
      padding-top: 15px;
      h4 {
        border-bottom: 1px dashed #b8b8b8;
        padding-bottom: 10px;
        font-weight: bold;
        > a {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
        }
      }
    }

  .l-activity-content {

    // style for tag section
    > section {
      border: 1px solid #cecece;
      border-radius: 5px;
      margin-top: 15px;
      > h4 {
        border-bottom: 2px solid #cecece;
        background: #f3f3f3;
        text-shadow: 0px 1px 0px rgba(199, 199, 199, 0.99);
        padding-bottom: 10px;
        padding-left:15px;
        margin-bottom: 0px;
        font-weight: bold;
      }

    }
    //end style

    // style for cite
    cite {
      display: block;
      font-size: 11px;
      line-height: 20px;
      color: #999999;
    } //end style for cite

    ul {
      margin: 0 0;
      padding-left: 15px;
      overflow-y: scroll;
      overflow-x: hidden;

      > li {
        margin-top: 0px;

        &:first-child {
          padding-top: 10px;

        }

        &:last-child {
          padding-bottom: 10px;
        }

        > hr {
          border-color: #cecece;
          margin-bottom: 10px;
        }
      }
    }
  }

  .l-author-info {
    text-align: center;

    > a {
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      color: #2b7cbf;
    }
    > ul {
      padding-left: 12px;
      padding-right: 12px;
      list-style-type: none;
      text-align: left;

      li {
        > span {
          font-size: 12px;
          font-weight: bold;
          float: right;
        }
        > i {
          margin-right: 8px;
        }
      }
    }
  }
 }



/* *****************************
* Style
********************************/

#appEditor {

  .l-content-event {
    padding-top: 25px;
    textarea#inputAuthor {
      width: 95%;
      min-height: 70px;
      border: 1px solid #cccccc;
      border-radius: 4px;
    }

    .event-youtube {
      > input {
        width: 90%;
        margin: 10px 0;
      }
    }

    .event {
      input {
        &#eventTitle {
          width: 95%;
        }
        &#eventVenue, &#eventCity  {
          width: 42%;
        }
      }

    }


  }
}
