
/* Style header of loyout default*/
#main-header {
  /* Style for div container header */
  > div.l-container {
    margin-bottom: 5px;
  }

  /* Style for navigation default */
  .l-navigation {
    box-shadow: 2px 2px 5px #9b9b9b;
    ul > li {
      padding: 3px 5px;
    }

    ul > li.active {
      background: #0f60a2;
    }
    ul > li > a {
      color: #f5f5f5;
      font-size: 16px;
      font-weight: bold;
      text-shadow: 1px 1px #276496;
    }

    ul > li.l-nav-app {
      padding-left: 15px;
      > a {
        padding-left: 25px;
        background: url('images/fb-small.png') 0 7px no-repeat;
      }

    }
  }
}

/* ***********************************
* Style layout for app editor page
*************************************/
#appEditor {
  .btn-save, .btn-next {
      padding: 8px 30px;
      font-size: 16px;
    }
    .btn-next {
      background: rgb(37, 37, 37);
      background: -moz-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: -webkit-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: -o-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: -ms-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: linear-gradient(0deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      color: white;
      text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);

    }
    .btn-save {
      background: rgb(234, 234, 234);
      background: -moz-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: -webkit-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: -o-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: -ms-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: linear-gradient(0deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      text-shadow: 0px -1px 0px rgba(234, 234, 234, 0.5);

}
  height: 1000px;
  .l-content-book {
    h5 {
      font-weight: bold;
    }

    padding-top: 2%;
    .l-order-table {
      width: 10%;
      float: left;
      text-align: center;
      span {
        border: 1px solid #c5c5c5;
        border-radius: 4px;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .l-title-table {
      width: 45%;
      float: left;

    }

    .l-status-table {
      width: 30%;
      float: left;
      span {
        padding: 0!important;
        line-height: 10px!important;
      }
    }

    .l-actions-table {
      width: 14%;
      float: left;

      a {
        margin-top: 3%;
        padding: 8px;
      }
    }
    .table-cell {
      span {
        text-align: center;
        padding: 6px 10px;
        vertical-align: bottom;
        line-height: 20%;
      }

      a {
        vertical-align: bottom;
        line-height: 20%;
      }

      img {
        float: right;
        margin-right: 20%;
      }
    }
    .table-book {
      display: inline-block;
      width: 100%;
      border: 1px solid #c5c5c5;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      .l-row-header-table {
        display: inline-block;
        width: 100%;
      }
    }
    .table-row-group {
      border-top:1px solid #c5c5c5;
      padding-top: 1%;
      padding-bottom: 6%;
      .progress {
        height: 10px;
        width: 60%;
        margin-bottom: 1%;
        margin-top: 2%;

      }

    }
    .footer-row-book {
      margin-right: 3%;
      margin-left: 3%;
      hr {
        border-color: #c5c5c5;
      }
    }
    .content-footer-row {
      >div.col-md-4 {
        text-align: right;
      }
      .label {
        color: #000;
        font-size: 12px;
      }
    }
    textarea#inputSynopsis {

    }
  }

  .l-avatar-img {
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.82);
    background: #f9f9f9;
    padding-right:10px;

    .avatar-img {
      padding-top:25px;
      height: 100%;
      -webkit-box-shadow: inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      -moz-box-shadow:    inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      box-shadow:         inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      a {
        border-right: 1px solid #000;
        float: left;
        margin-left: 0px!important;

      }
      > div {
        min-height: 128px;
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        background: #434343;
        text-align: center;
        span.caret {
          border-top: 10px solid white;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }

    }


}

  /* Layout navigation breadcrum */
  .l-breadcrumd {
    margin-bottom: 20px;
    padding: 0 0!important;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;

    li {
      float: left;

      &:first-child a {
        padding-left: 10px;
      }
      a {
        color: #45759d;
        text-decoration: none;
        padding: 10px 0 10px 65px;
        background: brown;                   /* fallback color */
        background: hsla(205,5%,92,1);
        position: relative;
        display: block;
        float: left;

        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 30px solid hsla(205,5%,92,1);
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2;
        }

        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 5px;
          left: 100%;
          z-index: 1;
        }

        &:hover {
          background: hsla(207,69%,56,1);
          color: white;
          &:after { border-left-color: hsla(207,69%,56,1) !important;color: white }
        }
        &.active{
          background: hsla(207,69%,56,1);
          color: white;

          &:after{
            border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid hsla(207,69%,56,1);
          }}

        }
      }
    }
  }

/*******************************************
 * Style for page bookManage
 *******************************************/

 #bookManager {
  height: 1000px;
  .l-content-book {
    padding-left: 5px;
    .content-book{
    padding-left: 10px;
    padding-top: 25px;
      > div {
        margin-top:25px;
      }
    }

  }
  .l-library-book {
    button.btn-primary {
      background: #0082cc;
      text-shadow:  -1px 0px 0px rgba(0, 91, 161, 0.55);
    }
    padding-left: 3%;
    h3 {
      font-size: 22px;
      font-weight: bold;
    }
    h5 {
      border-bottom: 1px dashed #b8b8b8;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }
  .l-avatar-img {
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.82);
    background: #f9f9f9;
    padding-right:10px;

    .avatar-img {
      padding-top:25px;
      height: 100%;
      -webkit-box-shadow: inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      -moz-box-shadow:    inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      box-shadow:         inset -5px 0px 5px 0px rgba(200, 200, 200, 0.82);
      a {
        border-right: 1px solid #000;
        float: left;
        margin-left: 0px!important;

      }
      > div {
        min-height: 128px;
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        background: #434343;
        text-align: center;
        span.caret {
          border-top: 10px solid white;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }

    }
  }
  .l-list-book {
    a {background: #f5f3f3; padding: 3px 6px;}
    p {margin-top: 10px;}
    > div.thumbnail {
      width: 20%;
      float: left;
      border: none!important;
      text-align: center;
      .progress {
        height: 10px;
        margin: 4% 20% 0 20%;
      }
      span {
        font-size: 11px;
        color: #666666;
      }
    }
  }
 }


/* **********************************
 *  Style for page dashboard
 ************************************/

 #dashboard {

  ::-webkit-scrollbar {
          width: 5px;
      }

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .l-container {
      padding-top: 15px;
      h4 {
        border-bottom: 1px dashed #b8b8b8;
        padding-bottom: 10px;
        font-weight: bold;
        > a {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
        }
      }
    }

  .l-activity-content {

    // style for tag section
    > section {
      border: 1px solid #cecece;
      border-radius: 5px;
      margin-top: 15px;
      > h4 {
        border-bottom: 2px solid #cecece;
        background: #f3f3f3;
        text-shadow: 0px 1px 0px rgba(199, 199, 199, 0.99);
        padding-bottom: 10px;
        padding-left:15px;
        margin-bottom: 0px;
        font-weight: bold;
      }

    }
    //end style

    // style for cite
    cite {
      display: block;
      font-size: 11px;
      line-height: 20px;
      color: #999999;
    } //end style for cite

    ul {
      margin: 0 0;
      padding-left: 15px;
      overflow-y: scroll;
      overflow-x: hidden;

      > li {
        margin-top: 0px;

        &:first-child {
          padding-top: 10px;

        }

        &:last-child {
          padding-bottom: 10px;
        }

        > hr {
          border-color: #cecece;
          margin-bottom: 10px;
        }
      }
    }
  }

  .l-author-info {
    text-align: center;

    > a {
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      color: #2b7cbf;
    }
    > ul {
      padding-left: 12px;
      padding-right: 12px;
      list-style-type: none;
      text-align: left;

      li {
        > span {
          font-size: 12px;
          font-weight: bold;
          float: right;
        }
        > i {
          margin-right: 8px;
        }
      }
    }
  }
 }

/* *****************************
* Style
********************************/

#appEditor {

  .l-content-event {
    form {
      h4 {
        font-size: 16px;
        font-weight: bold;
      }
      label {
        font-size: 13px;
        font-weight: normal;
      }
    }
    .inputAuthor {
      p {
        font-size: 11px!important;
      }
    }
    .btn-save, .btn-next {
      padding: 8px 30px;
      font-size: 16px;
    }
    .btn-next {
      background: rgb(37, 37, 37);
      background: -moz-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: -webkit-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: -o-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: -ms-linear-gradient(90deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      background: linear-gradient(0deg, rgb(37, 37, 37) 88%, rgb(95, 95, 95) 100%);
      color: white;
      text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);

    }
    .btn-save {
      background: rgb(234, 234, 234);
      background: -moz-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: -webkit-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: -o-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: -ms-linear-gradient(90deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      background: linear-gradient(0deg, rgb(234, 234, 234) 0%, rgb(249, 249, 249) 100%);
      text-shadow: 0px -1px 0px rgba(234, 234, 234, 0.5);

    }
    .event, .event-youtube {
      a > i {
        color: #000;
        font-size: 20px;
        top: 5px;
      }
    }
    padding-top: 25px;
    textarea#inputAuthor {
      width: 95%;
      min-height: 70px;
      border: 1px solid #cccccc;
      border-radius: 4px;
    }

    .event-youtube {
      > input {
        width: 90%;
        margin: 10px 0;
      }
    }

    .event {
      input {
        &#eventTitle {
          width: 95%;
        }
        &#eventCity, &#eventEndDate  {
          width: 90%;

        }
      }

      .event-time {
        button {
          border: 1px solid #c5c5c5;
          .btn {
            border-radius: 7px!important;
          }
        }
        button:first-child {
          border-right: none!important;
          background: rgb(202, 202, 202);
          background: -moz-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
          background: -webkit-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
          background: -o-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
          background: -ms-linear-gradient(180deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
          background: linear-gradient(90deg, rgb(202, 202, 202) 0%, rgb(237, 237, 237) 37%);
        }

        button:last-child {
          background: rgb(202, 202, 202);
          background: -moz-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
          background: -webkit-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
          background: -o-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
          background: -ms-linear-gradient(0deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
          background: linear-gradient(270deg, rgb(202, 202, 202) 10%, rgb(237, 237, 237) 63%);
        }
      }
    }

  }
}

