// style form input
.therapist-account {
	.row {
		margin: 0;
	}

	.account-content {
		float: right;
		padding-left: 30px;
		padding-right: 0;
	}

	.block {
		padding-bottom: 5px;
		.btn {
			min-height: 40px;
			padding: 0 30px;
		}
	}

	.control-label {
		@include semi-bold-font;
		padding-top: 12px;
	}
	
	.standout-label {
		margin-right: 10px;
	}

	.popover-group {
		.popover {
			width: 262px;
	    padding: 18px 15px;
	    top: -50%;
		}
	}

	.chosen-single {
		height: 42px;
		padding-top: 2px;
	}
}

.general-modal {
	.intake-input {
		min-height: 400px;
	}
}