---
layout: "public-profile"
---
.reset-password-container
  .reset-password
    %h1.text-center Reset your Password

    %form.form-horizontal.form-bordered.form-control-borderless{action: "", method: ""}
      .form-group
        .col-xs-12
          .input-group
            %span.input-group-addon
              %i.gi.gi-asterisk
            %input.form-control.input-lg{name: "register-password", placeholder: "Password", type: "password"}/
      .form-group
        .col-xs-12
          .input-group
            %span.input-group-addon
              %i.gi.gi-asterisk
            %input.form-control.input-lg{name: "register-password-verify", placeholder: "Verify Password", type: "password"}/
      .form-group.form-actions
        .col-xs-6.login-register
          %a.register-terms{href:"javascript:void(0)"} Terms
          %label.switch.switch-primary{data-toggle:"tooltip", title: "Agree to the terms"}
            %input{name: "register-terms", type: "checkbox"}/
            %span
        .col-xs-6.text-right
          %button.btn.btn-info{type: "button"}
            Save and Continue
