---
layout: "default"
---

/ the therapist-edit-profile page
.therapist-edit-profile
  / degine the content-header of the edit-profile page
  .content-header
    .header-section
      %h1
        Public Profile
        %i.icon-user8
      %br/
      %small The information on this page will be visible to users searching for therapists or psychiatrists on the eTherapi website.

  / define the content of edit-profile page
  .row
    .edit-profile-nav.slave-nav.no-gutter.aside-content.affix-menu-nav.col-md-3{data-offset-top:"200", data-spy:"affix"}

      / define the list-group
      %ul.list-group.nav

        %li.active
          %a.list-group-item{href:"javascript:void(0)"}
            %h4.list-group-item-heading Profile Picture and Video

        %li
          %a.list-group-item{href:"javascript:void(0)"}
            %h4.list-group-item-heading About

        %li
          %a.list-group-item{href:"javascript:void(0)"}
            %h4.list-group-item-heading Finances

        %li
          %a.list-group-item{href:"javascript:void(0)"}
            %h4.list-group-item-heading Specialties and Expertise

        %li
          %a.list-group-item{href:"javascript:void(0)"}
            %h4.list-group-item-heading Credentials

    .pri-content.edit-profile-content.listview-content.col-md-9


      .profile-button-group
        %button.btn.btn-success{type:"button"} View Profile
        %button.btn.btn-info{type:"button"} Save Profile

      .edit-profile-detail

        / define the picture-video block
        .picture-video.block.col-md-12

          .block-title
            %h2 Profile Picture and Video

          %form.form-horizontal.form-bordered{action:"", method:"post", enctype:""}
            .avatar-container.row.no-gutter
              .col-md-6.no-gutter
                .user-avatar-section.clearfix
                  .user-avatar
                    %a.img-rounded{href:"javascript:void(0)"}
                      %img{src:"http://placehold.it/120x120", alt:"avatar"}/
                  .avatar-action
                    .user-avatar-upload
                      %a.btn.btn-info{data-toggle:"modal", data-target:"#profile-upload-modal", type:"button"} Upload New Picture
                    .user-avatar-delete
                      %a.text-danger{href:"javascript:void(0)"} Delete picture


          %form.introduction-video.form-horizontal.form-bordered{action:"", method:"post", enctype:""}
            .title Introduction Video

            .record-video.row.no-gutter
              .col-md-12.no-gutter
                %a.btn.btn-info.record-btn{href:"https://youtube.com/my_webcam", target:"_blank"} Record an introduction video using youtube

              .col-md-12.no-gutter
                %label.control-label Enter the link to your introduction YouTube video.
                .input-group
                  %input.form-control.medium-form-control{type:"text", placeholder:"e.g.,http://youtu.be/fxyhfiCO_XQ"}
                  %span.input-group-addon.group-addon-lg
                    %i.fa.fa-youtube-play

        / define the about block
        .about.block.col-md-12

          .block-title
            %h2 About

          %form.form-horizontal.form-bordered{action:"", method:"post", enctype:""}
            .title Bio
            .form-group
              .editor-group.col-xs-12
                %ul.wysihtml5-toolbar
                %textarea.form-control.textarea-editor{rows:"10"}
                %input{type:"hidden", name:"_wysihtml5_mode", value:"1"}
                %iframe.wysihtml5-sandbox{security:"restricted", allowtransparency:"true", frameborder:"0", width:"0", height:"0", marginwidth:"0", marginheight:"0"}


            .title.language-title Languages Spoken


            .form-group

              .include-popover.language-spoken.col-md-12
                .chosen-wrapper.col-md-6.no-gutter
                  .tagsinput.col-md-9
                    .hidden-container
                    %span.tag
                      %span.tags-label-content ICD10
                      %a{href:"javascript:void(0)", title:"Removing tag"} x

                    %span.tag
                      %span.tags-label-content ICD20
                      %a{href:"javascript:void(0)", title:"Removing tag"} x

                    %span.tag
                      %span.tags-label-content ICD40
                      %a{href:"javascript:void(0)", title:"Removing tag"} x
                    .add-tag
                      %input{placeholder:"Add code"}
                    .tags_clear



                  .popover.right
                    .arrow
                    .pop-over-content Click to select among the options provided.



        / define the price block
        .price.block.col-md-12

          .block-title
            %h2 Finances

          %form.form-horizontal.form-bordered{action:"", method:"post", enctype:""}
            .title Pricing
            / form-group include select cash and time
            .pricing.form-group.has-error
              .col-md-7.col-xs-7

                .cash.col-md-5.col-xs-5
                  .input-group
                    .input-group-addon
                      %i.fa.fa-usd
                    %input.form-control.medium-form-control.valid{type:"text"}
                  .help-block.animation-slideDown Please enter a number!

                .solid-text.col-md-2.col-xs-2 for up to

                .time.col-md-5.col-xs-5
                  %select.select-chosen.form-control
                    %option{value:"0"} 30 minutes
                    %option{value:"1"} 35 minutes
                    %option{value:"2"} 40 minutes
                    %option{value:"3"} 45 minutes
                    %option{value:"4"} 50 minutes
                    %option{value:"5"} 55 minutes
                    %option{value:"6"} 60 minutes
                    %option{value:"7"} 65 minutes
                    %option{value:"8"} 70 minutes
                    %option{value:"9"} 75 minutes
                    %option{value:"10", selected:"selected"} 80 minutes
                    %option{value:"11"} 85 minutes
                    %option{value:"12"} 90 minutes
              .pricing-offer.col-md-7.col-xs-7
                .checkbox
                  %label
                    %input{type:"checkbox"}
                    %span I offer a sliding scale - Let patients contact me for details

            / subtitle for block
            .title.cancellation-title Cancellation
            / form-group include checkbox and popover
            .cancellation.include-popover.form-group

              .col-md-12
                .checkbox
                  %label
                    %input{type:"checkbox"}
                    %span Charge a cancellation fee if a client cancels with less than 24 hours notice

                    .popover.right
                      .arrow
                      .pop-over-content You will be given the option to charge the client up to the session amount after the late cancellation occurs.

                    .popover.top
                      .arrow
                      .pop-over-content Click to select among the options provided or enter additional ones.

            .title Insurance Plans Accepted

            .insurance-plan.form-group
              .include-popover.col-md-12

                / define the select-chosen-multiple
                .chosen-wrapper.col-md-6.no-gutter
                  .tagsinput.col-md-9
                    .hidden-container
                    %span.tag
                      %span.tags-label-content ICD10
                      %a{href:"javascript:void(0)", title:"Removing tag"} x

                    %span.tag
                      %span.tags-label-content ICD20
                      %a{href:"javascript:void(0)", title:"Removing tag"} x

                    %span.tag
                      %span.tags-label-content ICD40
                      %a{href:"javascript:void(0)", title:"Removing tag"} x
                    .add-tag
                      %input{placeholder:"Add code"}
                    .tags_clear


                  .popover.right
                    .arrow
                    .pop-over-content Click to select among the options provided.

                  .popover.top
                    .arrow
                    .pop-over-content Click to select among the options provided.


        / define the Expertise and Specialties block
        .expertise.block.col-md-12

          .block-title
            %h2 Specialties and Expertise

          %form.specialties-form.form-horizontal.form-bordered{action:"", method:"post", enctype:""}

            .form-group
              .row.no-gutter

                .col-md-6

                  .title Specialties (up to 3)

                  .specialties.form-group
                    .include-popover.col-md-12.no-gutter
                      / define the select-chosen-multiple
                      .chosen-wrapper.col-md-5.no-gutter
                        .tagsinput.col-md-9
                          .hidden-container
                          %span.tag
                            %span.tags-label-content ICD10
                            %a{href:"javascript:void(0)", title:"Removing tag"} x

                          %span.tag
                            %span.tags-label-content ICD20
                            %a{href:"javascript:void(0)", title:"Removing tag"} x

                          %span.tag
                            %span.tags-label-content ICD40
                            %a{href:"javascript:void(0)", title:"Removing tag"} x
                          .add-tag
                            %input{placeholder:"Add code"}
                          .tags_clear

                      .popover.right
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

                      .popover.top
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

                .col-md-6

                  .title Additional Expertise

                  .additional-expertise.form-group
                    .include-popover.col-md-12.no-gutter
                      / define the select-chosen-multiple
                      .chosen-wrapper.col-md-5.no-gutter
                        %select.select-chosen{multiple:"multiple", data-placeholder:"Select or Type"}
                          %option{value:"English"} English
                          %option{value:"Spanish"} Spanish
                          %option{value:"Vietnamese"} Vietnamese

                      .popover.right
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

                      .popover.top
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.



            .treatment.form-group

              .row.no-gutter
                .col-md-6

                  .title Treatment Approach

                  .treatment-approach.form-group
                    .include-popover.col-md-12.no-gutter
                      / define the select-chosen-multiple
                      .chosen-wrapper.col-md-5.no-gutter
                        %select.select-chosen{multiple:"multiple", data-placeholder:"Select or Type"}
                          %option{value:"English"} English
                          %option{value:"Spanish"} Spanish
                          %option{value:"Vietnamese"} Vietnamese

                      .popover.right
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

                      .popover.top
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

                .col-md-6

                  .title Demographics Served

                  .demographic-served.form-group
                    .include-popover.col-md-12.no-gutter
                      / define the select-chosen-multiple
                      .chosen-wrapper.col-md-5.no-gutter
                        %select.select-chosen{multiple:"multiple", data-placeholder:"Select or Type"}
                          %option{value:"English"} English
                          %option{value:"Spanish"} Spanish
                          %option{value:"Vietnamese"} Vietnamese

                      .popover.right
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

                      .popover.top
                        .arrow
                        .pop-over-content Click to select among the options provided or enter additional ones.

        / define the Credentials block
        .credential.block.col-md-12

          .block-title
            %h2 Credentials

          %form.form-horizontal.form-bordered{action:"", method:"post"}

            / define the data table of license
            .title License(s)

            .license-group.form-group

              .total-block-data
                / define the header columns of table
                %header.header-striped-row.clearfix
                  .state.general-column
                    .cell-wrapper
                      .cell
                        %span State
                  .license-type.general-column
                    .cell-wrapper
                      .cell
                        %span License Type
                  .license.general-column
                    .cell-wrapper
                      .cell
                        %span License #
                  .expiration.general-column
                    .cell-wrapper
                      .cell
                        %span Expiration


                / data content
                .data-group
                  / data row
                  .striped-row
                    / the data of state header
                    .state.general-column
                      .cell-wrapper
                        .cell
                          %select.select-chosen.form-control{data-placeholder:" "}
                            %option{selected:"selected"}
                            %option{value:"0"} CA
                            %option{value:"1"} CA
                    / the data of License Type header
                    .license-type.general-column
                      .cell-wrapper
                        .cell
                          %select.select-chosen{data-placeholder:"Choose a License Type"}
                            %option{selected:"selected"}
                            %option{value:"0"} Marriage and Family Therapist
                            %option{value:"1"} Marriage and Family Therapist
                    / the data of License header
                    .license.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-vcard2

                    / the data of expiration header
                    .expiration.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control.input-datepicker{type:"text", placeholder:"dd/mm/yy", date-date-format:"dd/mm/yy"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-calendar6

                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel

                  / data row
                  .striped-row
                    / the data of state header
                    .state.general-column
                      .cell-wrapper
                        .cell
                          %select.select-chosen.form-control{data-placeholder:" "}
                            %option{selected:"selected"}
                            %option{value:"0"} CA
                            %option{value:"1"} CA
                    / the data of License Type header
                    .license-type.general-column
                      .cell-wrapper
                        .cell
                          %select.select-chosen{data-placeholder:"Choose a License Type"}
                            %option{selected:"selected"}
                            %option{value:"0"} Marriage and Family Therapist
                            %option{value:"1"} Marriage and Family Therapist
                    / the data of License header
                    .license.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-vcard2

                    / the data of expiration header
                    .expiration.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control.input-datepicker{type:"text", placeholder:"dd/mm/yy", date-date-format:"dd/mm/yy"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-calendar6


                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel

                  / data row
                  .striped-row
                    / the data of state header
                    .state.general-column
                      .cell-wrapper
                        .cell
                          %select.select-chosen.form-control{data-placeholder:" "}
                            %option{selected:"selected"}
                            %option{value:"0"} CA
                            %option{value:"1"} CA
                    / the data of License Type header
                    .license-type.general-column
                      .cell-wrapper
                        .cell
                          %select.select-chosen{data-placeholder:"Choose a License Type"}
                            %option{selected:"selected"}
                            %option{value:"0"} Marriage and Family Therapist
                            %option{value:"1"} Marriage and Family Therapist
                    / the data of License header
                    .license.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-vcard2
                    / the data of expiration header
                    .expiration.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control.input-datepicker{type:"text", placeholder:"dd/mm/yy", date-date-format:"dd/mm/yy"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-calendar6


                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel

                %a.add-more{href:"javascript:void(0)"} + Add another license



            .title Years in Practice

            .practice.form-group
              .col-md-3
                %select.select-chosen{data-placeholder:"Select a Number"}
                  %option{selected:"selected"}
                  %option{value:"1"} 1
                  %option{value:"2"} 2
                  %option{value:"3"} 3
                  %option{value:"4"} 4
                  %option{value:"5"} 5
                  %option{value:"6"} 6
                  %option{value:"7"} 7
                  %option{value:"8"} 8
                  %option{value:"9"} 9
                  %option{value:"10"} 10
                  %option{value:"11"} 11
                  %option{value:"12"} 12
                  %option{value:"13"} 13
                  %option{value:"14"} 14
                  %option{value:"15"} 15
                  %option{value:"16"} 16
                  %option{value:"17"} 17
                  %option{value:"18"} 18
                  %option{value:"19"} 19
                  %option{value:"20"} 20
                  %option{value:"21"} 21
                  %option{value:"22"} 22
                  %option{value:"23"} 23
                  %option{value:"24"} 24
                  %option{value:"25"} 25
                  %option{value:"26"} 26
                  %option{value:"27"} 27
                  %option{value:"28"} 28
                  %option{value:"29"} 29
                  %option{value:"30"} 30
                  %option{value:"31"} 31
                  %option{value:"32"} 32
                  %option{value:"33"} 33
                  %option{value:"34"} 34
                  %option{value:"35"} 35
                  %option{value:"36"} 36
                  %option{value:"37"} 37
                  %option{value:"38"} 38
                  %option{value:"39"} 39
                  %option{value:"40"} 40
                  %option{value:"41"} 41
                  %option{value:"42"} 42
                  %option{value:"43"} 43
                  %option{value:"44"} 44
                  %option{value:"45"} 45
                  %option{value:"46"} 46
                  %option{value:"47"} 47
                  %option{value:"48"} 48
                  %option{value:"49"} 49
                  %option{value:"50"} 50
                  %option{value:"51"} 51
                  %option{value:"52"} 52
                  %option{value:"53"} 53
                  %option{value:"54"} 54
                  %option{value:"55"} 55
                  %option{value:"56"} 56
                  %option{value:"57"} 57
                  %option{value:"58"} 58
                  %option{value:"59"} 59
                  %option{value:"60"} 60
                  %option{value:"61"} 61
                  %option{value:"62"} 62
                  %option{value:"63"} 63
                  %option{value:"64"} 64
                  %option{value:"65"} 65
                  %option{value:"66"} 66
                  %option{value:"67"} 67
                  %option{value:"68"} 68
                  %option{value:"69"} 69
                  %option{value:"70"} 70




            / define the data table of schools block
            .school-block-title.title Schools and Degrees

            .include-popover.school-degree.form-group

              .total-block-data
                / data content
                .data-group
                  / data row
                  .striped-row
                    / the data of state header
                    .text-filling.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text", value:"University of Chicago: PSY.D - 2001"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-graduation

                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel



                  .striped-row
                    / the data of state header
                    .text-filling.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text", placeholder:"University of Chicago: PSY.D - 2001"}
                            %span.input-group-addon.group-addon-lg
                              %i.icon-graduation


                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel

                %a.add-more{href:"javascript:void(0)"} + Add School and Degree


              .popover.right
                .arrow
                .pop-over-content It's best if you use this format: School Name: Degree - Degree year



            / defiine the Professional Association block
            .association-block-title.title Professional Associations

            .association.form-group

              .total-block-data
                / data content
                .data-group
                  / data row
                  .striped-row
                    / the data of state header
                    .text-filling.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text", value:"California Psychology Association"}
                            %span.input-group-addon.group-addon-lg
                              %i.gi.gi-group


                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel



                  .striped-row
                    / the data of state header
                    .text-filling.general-column
                      .cell-wrapper
                        .cell
                          .input-group
                            %input.medium-form-control.form-control{type:"text", placeholder:"California Psychology Association"}
                            %span.input-group-addon.group-addon-lg
                              %i.gi.gi-group


                    / the end of row
                    .end-row.general-column
                      .cell-wrapper
                        %a{href:"javascript:void(0)"}
                          %i.icon-cancel


                %a.add-more{href:"javascript:void(0)"} + Add Professional Association


      .profile-button-group
          %button.btn.btn-success{type:"button"} View Profile
          %button.btn.btn-info{type:"button"} Save Profile











