@import  "../../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import  "../../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";

.btn-our-service {
  border-radius: 0;
  background: #3295c5;
  padding: .4em 4em;
  color: #fff;
  font-size: 2.4em;
  text-shadow: 0.1em 0 .1em #3295c5;

}
.portfolio {
  margin-right: -40%;
  margin-left: -40%;
  background: #3295c5;
}
.btn-portfolio {
  border-radius: 0;
  background: #fff;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 2.4em;

}

.btn-send {
  margin-right: .3em;
  border: .09em solid #557da4;
  -webkit-box-shadow: -2px 1px 5px 0px rgba(208, 208, 208, 1);
  -moz-box-shadow:    -2px 1px 5px 0px rgba(208, 208, 208, 1);
  box-shadow:         -2px 1px 5px 0px rgba(208, 208, 208, 1);
  @include gradient-vertical-three-colors($start-color: #77a2c8, $mid-color: #5496bd, $color-stop: 50%, $end-color: #557da4);
  padding: .2em 2.7em;
  text-shadow: 1px 1px 2px rgba(68, 113, 145, 1);
  font-size: 2.2em;
  color: #fff;
  behavior: url(../vendor/pie/PIE.htc);

}
.navbar-toggle {
  background-color: #cb2a57;
}
.icon-bar {
  border: 1px solid white!important;
}
