---
layout: "default"
title: "Agility Project"
---
section.padding-l-r.container
  header.header-content.padding-t-b-section
    h1 Agility is a thought leader in digital marketing solutions.
    p.margin-t-l-r-p Agility is at the forefront of design trends and concepts.  When you engage Agility on a marketing or branding campaign, you receive the benefits of designers and creatives who not only have the pulse of the market, but also pave new paths in user experience, engagement, and interaction design.
  //- content all list
  section.padding-t-b-section.row
    div.list-content.col-md-6.col-lg-6.col-xs-12.col-sm-6.padding-l-r-div
      img(alt="image-list", src="images/icon-cloud.png")
      h3 Mobile, Web & Cloud Computing
      p.margin-t-l-r-p Mobile, Web, and Cloud Computing - According to IDC, an estimated 1.7 billion smartphones will be sold in 2017 versus nearly 1 billion in 2013.  We can provide a cloud-based solution that takes your message to users across web and mobile platforms.
    div.list-content.col-md-6.col-lg-6.col-xs-12.col-sm-6.padding-l-r-div
      img(alt="image-list", src="images/icon-design.png")
      h3 Campaign Design
      p.margin-t-l-r-p Whether you need a new logo or have an idea for a long-term campaign, we work with clients to build out their vision and take it from concept through implementation to launch, all within time and budget constraints.
  section.padding-t-b-section.row
    div.list-content.col-md-6.col-lg-6.col-xs-12.col-sm-6.padding-l-r-div
      img(alt="image-list", src="images/icon-agile.png")
      h3 Lean and Agile
      p.margin-t-l-r-p We operate like a startup using Lean Startup Methodologies and Agile best practices.  Agility is able to deliver a high quality solution faster and more cost-effective than traditional firms.
    div.list-content.col-md-6.col-lg-6.col-xs-12.col-sm-6.padding-l-r-div
      img(alt="image-list", src="images/icon-technical.png")
      h3 Cutting Edge Technology
      p.margin-t-l-r-p Agility makes it a point to understand and implement new technologies when appropriate.  We believe keeping up with new technologies, frameworks, and languages is essential to keeping our clients current.
  footer
    section.our-service.padding-t-b-section
      button.btn.btn-our-service.padding-l-r-div(type="submit") See our service
    section.content-blog-post.padding-t-b-section.row
      div.col-md-6.col-lg-6.col-xs-12.col-sm-6.case-study.padding-l-r-div
        a(href="#") Take a look at case study
      div.col-md-6.col-lg-6.col-xs-12.col-sm-6.blog-post.padding-l-r-div
        div.blog-post-text
          div
            p This will be the
            p.appealing-text appealing agiliy <br> blog post title
          img.pull-right(alt="blog-post-agility", src="images/logo-agility-small.png")
    section.portfolio.padding-t-b-section
      button.btn.btn-portfolio(type="submit") See our portfolio of work
    section.agility-experience.padding-t-b-section
      article
        header
          h1 start your agiliy experience
          strong We’d love to hear about your idea or project. Drop us a note and we’ll get in toch with you.
        section.form-experience.row
          form#content-experience(role="form")
            div.col-md-5.col-lg-5.col-xs-12.col-sm-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1
              input.form-control.input-post(type="text", name="name", placeholder="Name")
              input.form-control.input-post(type="text", name="company", placeholder="Company")
              input.form-control.input-post(type="text", name="email", placeholder="Email")
              input.form-control.input-post(type="text", name="phone", placeholder="Phone")
            div.col-md-6.col-lg-6.col-xs-12.col-sm-6
              textarea.form-control.textarea-post(type="text", name="message", placeholder="Write your message...")
          button.btn.btn-send.pull-right(type="submit") SEND
footer.footer-content.row.padding-l-r
  section
    div.col-md-7.col-sm-7.col-xs-8.col-ls-7
      p contact@agiliyio.com
      p.copy-right © 2014, Agility, 175 Varick, 8th Floor, New York, NY 10014
    div.col-md-5.col-sm-5.col-xs-6.col-ls-5
      ul.nav.navbar-nav.navbar-right.logo-contact
        li
          a.icon-in: img(alt="in", src="images/icon-in.png")
        li
          a.icon-switter: img(alt="switter", src="images/icon-switter.png")
        li
          a.icon-facebook: img(alt="facebook", src="images/icon-facebook.png")






