---
layout: "default"
title: "Work Project"
---

header.head-content.clearfix.container
  nav.l-nav-content-work
    ul.nav.navbar-nav
      li: a.nav-work.active(href="#") All
      li: a.nav-work(href="#") UX Design
      li: a.nav-work(href="#") Web
      li: a.nav-work(href="#") Mobile
      li: a.nav-work(href="#") Game
section.l-list-content-product.container
  div.media.col-md-4.col-lg-4.col-xs-12.col-sm-6
    a(href="")
      img(src="images/media-nerdwallet.png", alt="nerdwallet")
    div.media-body
      h4.media-header NerdWallet TravelNerd
      p.media-content A few lines to describe about the project. A few lines to describe about the project. A few lines to describe about the project.
  div.media.col-md-4.col-lg-4.col-xs-12.col-sm-6
    a(href="")
      img(src="images/media-mani.png", alt="nerdwallet")
    div.media-body
      h4.media-header Mani Diaries
      p.media-content A few lines to describe about the project. A few lines to describe about the project. A few lines to describe about the project.
  div.media.col-md-4.col-lg-4.col-xs-12.col-sm-6
    a(href="")
      img(src="images/media-chat.png", alt="nerdwallet")
    div.media-body
      h4.media-header What's That
      p.media-content A few lines to describe about the project. A few lines to describe about the project. A few lines to describe about the project.
  div.media.col-md-4.col-lg-4.col-xs-12.col-sm-6
    a(href="")
      img(src="images/media-homelight.png", alt="nerdwallet")
    div.media-body
      h4.media-header Homelight
      p.media-content A few lines to describe about the project. A few lines to describe about the project. A few lines to describe about the project.
  div.media.col-md-4.col-lg-4.col-xs-12.col-sm-6
    a(href="")
      img(src="images/media-kingdom.png", alt="nerdwallet")
    div.media-body
      h4.media-header Little 3 Kingdoms
      p.media-content A few lines to describe about the project. A few lines to describe about the project. A few lines to describe about the project.
  div.media.col-md-4.col-lg-4.col-xs-12.col-sm-6
    a(href="")
      img(src="images/media-project.png", alt="nerdwallet")
    div.media-body
      h4.media-header Project Name
      p.media-content A few lines to describe about the project. A few lines to describe about the project. A few lines to describe about the project.

